.main-heading{
    height: 200px;
    width:50%;
    background-color: cadetblue;
    color: white;
}

.main-heading-alt{
    height : 50%;
    width : 50%;
    background-color: cornflowerblue;
}

.dark{
    width:200px;
    height: 50px;
    margin : 20px;
    background-color: dodgerblue;
    color: white;
    font-weight: 200;
    border-radius: 25px;
    
}

